@import url('https://fonts.googleapis.com/css2?family=Quicksand:wght@300;400;500;700&display=swap');

:root {
    --black: #000;
    --orange: #ff8a0e;
    --gray: #404040;
    --lightgray: #f3f3f3;
    --white: #fff;
    --padding: 70px 0;
    --fontFamily: 'Quicksand', sans-serif;
    --font: 16px;
    --transition: .3s ease;
}

body {
    font-family: var(--fontFamily);
    font-size: var(--font);
    line-height: 1.6;
    color: var(--gray);
}

* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

a {
    text-decoration: none;
}
.container {
    width: 80%;
    margin: auto;
}
.container::after {
    content: "";
    display: block;
    clear: both;
}

h2 {
    font-size: 2rem;
    text-align: center;
}

h2::after {
    display: block;
    content: "";
    width: 80px;
    background: var(--orange);
    height: 3px;
    margin: 20px auto;
}
button {
    background-color: var(--orange);
    border: none;
    padding: 15px;
    color: var(--white);
    font-size: 0.9rem;
    text-transform: uppercase;
    margin-top: 30px;
    letter-spacing: 2px;
}
button:hover {
    cursor: pointer;
    background: var(--gray);
    transition: var(--transition);
}
/*******************
header
********************/

header {
    background-image: url(img/header.jpg);
    background-position: center;
    background-size: cover;
    height: 60vh;
    border-bottom: 20px solid rgba(0, 0, 0, .5);
}

header h1 {
    background: var(--black);
    display: inline-block;
    color: var(--white);
    padding: 15px 50px;
    font-size: 2.8rem;
    margin-top: 9%;
    margin-bottom: 10px;
    margin-left: 10%;
}

header nav {
    background: var(--orange);
    display: inline-block;
    padding: 5px 30px;
    margin-left: 10%;
}

nav ul li {
    display: inline-block;
    padding: 5px 30px;
}

nav ul li a {
    color: var(--white);
    font-style: italic;
}
/*******************
about
********************/
.about {
    padding: var(--padding);
    background: var(--lightgray);
    text-align: center;
}

.about h2 {
    font-size: 2.8rem;
}
/*******************
services
********************/
.services {
    padding: var(--padding);
}

.services article {
    width: 33%;
    float: left;
    text-align: center;
    padding: 0 30px;
}

.services article h3 {
    font-size: 1.6rem;
    padding-bottom: 20px;
}
/*******************
works
********************/
.works {
    background: var(--lightgray);
    padding: var(--padding);
    text-align: center;
}

.works img {
    width: 100%;
    height: auto;
}

.works article {
    width: 25%;
    float: left;
    padding: 30px;
}
.works article h5 {
    font-size: 1.5rem;
    padding: 20px 0;
}